.project {
text-align: center;
padding: 20px;
max-width: 800px;
margin: auto;
}

.project-img {
width: 80%;
height: auto;
border-radius: 10px;
}

.project-video {
width: 80%;
height: auto;
}

@media screen and (max-width: 768px) {
.project-img,
.project-video {
width: 100%;
}

.project {
padding: 10px;
}
}
